.dotfiles/
Android/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
bin/
go/
projects/
to_review/

.xsession-errors

# Review these:
.AndroidStudio2.1/
.AndroidStudio2.2/
.ICEauthority
.Skype/
.Xauthority
.android/
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_local
.bash_logout
.cache/
.compiz/
.config/
.crashlytics/
.dbus/
.dmrc
.eclipse/
.emacs.d/
.gconf/
.gimp-2.8/
.gksu.lock
.gnome/
.gnupg/
.gradle/
.hedgewars/
.hplip/
.java/
.jssc/
.keychain/
.lesshst
.local/
.macromedia/
.mc/
.mozilla/
.mplayer/
.ncftp/
.nl.lxtreme.ols.client.settings
.node_repl_history
.npm/
.openshot/
.oracle_jre_usage/
.pam_environment
.pki/
.profile
.python-eggs/
.python-history
.qws/
.repo_.gitconfig.json
.repoconfig/
.repopickle_.gitconfig
.rpmdb/
.sudo_as_admin_successful
.thumbnails/
.unison/
.viking-maps/
.viking/
.viminfo
.cloud-locale-test.skip
